
.dark{
    background-color: black;
    color: yellow;
}
.dark header{
    background-color: black;
    border: 1px solid white;
}
.dark main{
    background-color: black;
    border: 1px solid white;
}
.dark footer{
    background-color: black;
    border: 1px solid white;
}
.dark a{
    color: yellow;
}
.dark table{
    border:1px solid white;
}
.dark th{
    border:1px solid white;
}
.dark td{
    border:1px solid white;
}
.dark img{
border: 2.5px solid white;
}
.dark #imgComputer{
    border:5px solid white;
}
.dark #fotoCovizzi{
    border:5px solid white;
}
.dark .aLink{
    color: yellow;
}
.dark .tableA:hover{
    background-color: black;
    color: white;
}

#mudarTema{
    width: 60px;
    height: 50px;
    font-size: 15px;
    margin-left:15px;
}

#increaseBtn, #decreaseBtn{
    margin-left: 15px;
}


header,footer,main{
    border: 1px solid black;
    background-color: rgb(250, 250, 250);
    text-align: justify;
    }

header{
    height: 270px;
    position: fixed;
    width: 100%;
}
main{
    padding-top: 255px;
}

h1{
    text-align:start;
    margin-left: 250px;
}
h2{
    margin-left: 5px;
}
h3{
    font-size: 25px;
    margin-left: 10px;
}

#imgComputer, #fotoCovizzi{
    border: 5px solid black;
}

#imgComputer{
    width: 30%;
    display:block;
    float: right;   
    border-radius: 10%;
}
#fotoCovizzi{
    top: 5px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 50px;
    transform: rotate(315deg);
    top: 19px;
}

table,th,td{
    border: 1px solid black;
    text-align: center;

}
table{
    margin-left: 5px;
}

td{
    padding: 3.2px;
}

a{
    color: black;
}
.tableA:hover{
    background-color: yellow;
    text-decoration: none;
}
.aLink{
    font-size: 30px;
}
p{
    margin: 20px;
    padding-right: 220px;
    width: 840px;
}

.icon{
    width: 70px;
    margin: 5px;
    border-radius: 50px;
    border: 3px solid black;
}
.icon:hover{
    border: 5px solid black;
}
.h3Icon{
    width:fit-content;
}
